.about{
  .wrapper{
    margin: 80px auto 100px;
    display: flex;
    flex-direction: row;
    gap: 120px;
    align-items: center;
    justify-content: center;
  }
}

.about__content{
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__heading{
  color: $color-dark-l;
  max-width: 370px;
}

.about__subheading{
  @extend %font-add;
  vertical-align: top;
  margin: 0;
  &:last-of-type{
    vertical-align: center;
  }
}



