.slider{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 435px;
  justify-content: space-between;
  gap: 53px;
}

.slider__button{
  box-sizing: border-box;
  display: flex;
  border-radius: 50%;
  border: 2px solid $color-primary;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  img{
    width: 14px;
    height: 6px;
  }
}

.list-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 90px;
}
.list-cards__element{
  display: flex;
  flex-direction: column;
  gap: 31.5px;
  align-items: center;
  background: $color-light-s;
  padding-bottom: 30px;
  p{
    margin: 0;
    @include font($size: 2.0rem, $spacing: 0.06em);
  }
  .button{
    width: 187px;
    &_border{
      border: 2px solid $color-primary;
      background: $color-light-s;
    }
  }
}