.main-page__list-cards{
  min-width: 100%;
  margin: 0 calc((100% - 270px * 3) / 4);
    .list-cards__element {
      width: 270px;
      height: 435px;
    }
  }
.main-page__slider{
  .slider__button{
    @include media-between-tablet-mobile{
      &:nth-child(1){
        order: 2;
      }
      &:nth-child(3){
        order: 3;
      }
    }
  }

  .carousel-wrapper {
    width: 82.5%;
    overflow: hidden;
  }
  .carousel {
    display: flex;
    position: relative;
    left: calc(-100% - ((100% - 270px * 3) / 4) * 3);
  }

  @keyframes move-right {
    from {left: calc(-100% - ((100% - 270px * 3) / 4) * 3);}
    to {left: calc((-100% - ((100% - 270px * 3) / 4) * 2.5) * 2);}
  }

  .transition-right {
    animation-name: move-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  @keyframes move-left {
    from {left: calc(-100% - ((100% - 270px * 3) / 4) * 3);}
    to {left: calc(((-100% + 270px * 3) / 4));}
  }

  .transition-left {
    animation-name: move-left;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
}

