body{
  font-family: Georgia, serif;
  font-size: 15px;
  color: $color-dark-xl;
  min-width: 1280px;
  background: $color-light-xl;
}
.wrapper{
  box-sizing: border-box;
  width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
button{
  width: 207px;
  height: 52px;
  background: $color-primary;
  border-radius: 100px;
  border: none;
  color: $color-dark-3xl;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
}
h3{
  font-size: 35px;
  line-height: 130%;
  font-weight: normal;
  letter-spacing: 0.06em;
  margin: 0;
}
h4{
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  font-weight: normal;
  margin: 0;
}
