body{
  font-family: Georgia, serif;
  font-size: 15px;
  color: $color-dark-xl;
  min-width: 1280px;
  background: $color-light-xl;
}
.wrapper{
  box-sizing: border-box;
  width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
button{
  width: 207px;
  height: 52px;
  background: $color-primary;
  border-radius: 100px;
  border: none;
  color: $color-dark-3xl;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;

}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo-title{
    font-size: 32px;
    color: $color-primary;
    letter-spacing: 0.06em;
    line-height: 110%;
  }
  .logo-subtitle{
    font-family: Arial, serif ;
    margin-top: 10px;
    font-size: 13px;
    color: $color-light-xl;
    letter-spacing: 0.1em;
    line-height: 100%;
  }
}

.menu{
  font-family: Arial, serif ;
  display: flex;
  flex-direction: row;
  gap: 35px;
  font-size: 15px;
  align-items: center;
  max-width: 443px;
  justify-content: space-between;
  .link{
    line-height: 24px;
    text-decoration: none;
    color: $color-dark-s;
    letter-spacing: 0.00385em;
  }
  .active{
    color: $color-light-s;
    border-bottom: 3px solid $color-primary;
  }
}

.not-only{
  margin-top: -118px;
  padding-top: 180px;
  background: #211F20;
  background: url("../img/background.png"), linear-gradient(-60deg, $background-gradient-stop,#211F20, $background-gradient-start 80%) ;
  .wrapper{
    display: flex;
    flex-direction: row;
    gap: 42px;
  }
  .not-only-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
  }
  .not-only-content-heading{
    width: 310px;
    font-size: 44px;
    font-weight: normal;
    line-height: 130%;
    color: $color-light-xl;
    margin: -81px 0 0;
  }
  .not-only-content-subheading{
    margin: -1px 0 0;
    font-family: Arial, serif;
    line-height: 155%;
    color: $color-dark-s;
  }
  button{
    width: 207px;
  }
}

.about{
  .wrapper{
    margin: 80px auto 100px;
    display: flex;
    flex-direction: row;
    gap: 120px;
    align-items: center;
    justify-content: center;
  }
  .about-content{
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .about-content-heading{
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin: 0;
    width: 370px;
    font-weight: normal;
  }
  .about-content-subheading{
    font-family: Arial, serif;
    line-height: 160%;
    vertical-align: top;
    margin: 0 0 0;
  }
  .about-content-subheading:last-of-type{
    vertical-align: center;
  }
}

.our-friends{
  background: $color-light-l;
  .wrapper{
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .our-friends-heading{
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    width: 400px;
    margin: 0 0 0px;
    text-align: center;
  }
  .slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 435px;
    justify-content: space-between;
    gap: 53px;
    .slider-cards{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 90px;
    }
    .slider-cards-card{
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      background: $color-light-s;
      padding-bottom: 30px;
      p{
        margin: 0;
        font-size: 20px;
        letter-spacing: 0.06em;
      }
      button{
        width: 187px;
        border: 2px solid $color-primary;
        background: $color-light-s;
      }
    }
  }
  button{
    width: 261px;
  }
}

.help{
  color: $color-dark-l;
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: 80px auto 100px;
  }
  .heading{
    text-align: center;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-weight: normal;
    margin: 0;
    width: 310px;
  }
  .help-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;
    justify-content: center;
  }
  .help-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    h4{
      margin: 0;
      font-weight: normal;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
    }
  }
}

.in-addition{
  color: $color-dark-l;
  .wrapper{
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  img{
    //margin-top: 1px;
  }
  .in-addition-content{
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .heading{
    width: 300px;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin: 0;
  }
  .subheading{
    margin: 0;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
  .credit-card{
    margin: 0;
    margin-top: -2px;
    background: $color-primary;
    box-sizing: border-box;
    width: 350px;
    border-radius: 9px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    h4{
      margin: 0;
      font-weight: normal;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
    }
  }
  .legal-information{
    font-family: Arial, serif;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: $color-dark-m;
    margin: 0;
  }

}