$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$color-light-xl: #FFFFFF;
$background-gradient-start: #513D2F;
$background-gradient-stop: #211F20;
